# Node
node_modules/
dist/
.env

# Java / Spring Boot
target/
*.iml
*.log
*.class
*.jar
*.war
*.db

# IDEs
.idea/
.vscode/
.DS_Store
mysql-data/

# Claude Code
.claude/settings.local.json
docs/_interno/
